[submodule "Server"]
	path = Server
	url = https://github.com/imsaeed/EQMacEmu
[submodule "Quests"]
	path = Quests
	url = https://github.com/imsaeed/eqquests
[submodule "Maps"]
	path = Maps
	url = https://github.com/EQMacEmu/Maps
